
h1 {
    text-align: center;
}
#sql-input-section {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 20px;
}
#sql-input-button{
    width: fit-content;
    height: fit-content;
    
}
#sql-input-text {
    width: 180px;
    display: inline;
}
.first-child {
    display: inline;
    width: 200px;
    height: 100%;
}
